<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mygdx.honestmirror">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--    Permission for bluetooth adapter-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="false"
        android:alwaysRetainTaskState="true"
        android:appCategory="productivity"
        android:icon="@drawable/ic_launcher_foreground"
        android:isGame="false"
        android:label="Honest Mirror"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.mygdx.honestmirror.view.ui.a_Results" />
        <activity android:name="com.mygdx.honestmirror.view.ui.a_Archive" />
        <activity android:name="com.mygdx.honestmirror.view.ui.a_VideoSelect" />

        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />

        <activity android:name="com.mygdx.honestmirror.view.activity.ProcessingScreenActivity" />
        <activity android:name="com.mygdx.honestmirror.view.activity.CurrentResultActivity" />
        <activity android:name="com.mygdx.honestmirror.view.activity.PreviousResultActivity" />
        <activity android:name="com.mygdx.honestmirror.view.activity.GalleryScreen" />
        <activity
            android:name="com.mygdx.honestmirror.view.ui.a_Loading"
            android:launchMode="singleTask" />
        <activity
            android:name="com.mygdx.honestmirror.view.ui.a_Home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mygdx.honestmirror.view.service.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.mygdx.honestmirror.view.service.NeuralService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>